<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.principal.css" media="screen,projection" />
</head>
<body>

<header>
    <div class="header">
        <div class="titulo">
            <p style="margin: 1rem; font-size: 1.3rem;">DEMO</p>
        </div>
        <div class="logout-form">
            <form th:action="@{/logout}" method="post" th:if="${isAuthenticated}">
                <i class="fas fa-user"></i> <span th:text="${userEmail}"></span>
                <button type="submit" class="btn btn-outline-danger">Sair</button>
            </form>
        </div>
    </div>
</header>

<div class="sidebar">
    <div class="separetor">
        <p>CORE</p>
    </div>
    <a href="#" class="menu-item">Dashboard</a>
    <div class="separetor">
        <p>INTERFACE</p>
    </div>
    <label for="submenu-checkbox" class="menu-item" style="display: contents;">Gerenciamento <i class="fas fa-chevron-right"></i></label>
    <input type="checkbox" id="submenu-checkbox" class="submenu-checkbox">
    <div class="submenu" id="submenu">
        <a href="#" class="submenu-item">Cadastro de Chamados</a>
        <a href="#" class="submenu-item">Consultar Chamados</a>
    </div>
    <a href="#" class="menu-item">Menu Item 3</a>
</div>

<div class="content">
    <h2>Conteúdo da Página</h2>
    <p>Este é um exemplo de conteúdo para a página.</p>
</div>

<script>
    document.getElementById('submenu-checkbox').addEventListener('change', function() {
        var submenu = document.getElementById('submenu');
        if (this.checked) {
            submenu.style.display = 'block';
        } else {
            submenu.style.display = 'none';
        }
    });
</script>

</body>
</html>
