<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Detalhes colaboradores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.index.css" media="screen,projection" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<style>
    .fade {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1040;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(0.8px);
        opacity: 1;
        /* Inicialmente visível */
        transition: opacity 0.5s ease-in-out;
    }

    #modal {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1040;
        background-color: #fff;
        padding: 1.2rem;
        border-radius: 1.3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 900px;
        width: 100%;
    }

    .modal-header {
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
        background-color: #f8f9fa;
        border-top-left-radius: 1.3rem;
        border-top-right-radius: 1.3rem;
    }

    .modal-header h2 {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-info {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .info-group {
        display: flex;
        gap: 5px;
        align-items: center;
        flex: 1 1 45%;
    }

    .info-group p {
        margin: 0;
        font-size: 0.9rem;
    }

    .info-group strong {
        width: 120px;
        display: inline-block;
        font-weight: 600;
    }

    .info-group p,
    .info-group strong {
        margin-right: 10px;
    }

    .info-group div {
        display: flex;
        align-items: center;
    }
</style>
<body class="sb-nav-fixed">
    <div class="fade"></div>
    <div id="modal">
        <div class="modal-header">
            <p th:if="${isAdmin}">admin</p>
            <p th:unless="${isAdmin}">colaborador</p>
            <h2>COLABORADOR INFO</h2>
            <button type="button" class="btn-close" id="fecharModal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body modal-content">
            <form th:action="@{/atualizarColaborador}" method="post">
                <div th:if="${colaboradorid != null}">
                    <div class="modal-info">
                        <div class="info-group">
                            <label for="perfilDescricao"><strong>PERFIL:</strong></label>
                            <select class="form-control" id="perfilTipo" name="perfilTipo" >
                            <div th:if="${isAdmin}">
                                <option value="ADMIN">Administrador</option>
                                <option value="COLABORADOR">Colaborador</option>
                            </div>
                            <div th:unless="${isAdmin}">
                                <p>cola</p>
                                <option value="COLABORADOR">Colaborador</option>
                                <option value="ADMIN">Administrador</option>
                            </div>

                            </select>
                        </div>
                        <div class="info-group">
                            <p for="colaboradorid"><strong>ID:</strong></p>
                            <p  id="colaboradorid" name="colaboradorid"
                                ><span th:text="${colaboradorid.id}"></span></p>
                        </div>
                        <div class="info-group">
                            <label for="nome"><strong>Nome:</strong></label>
                            <input type="text" id="nome" name="nome" th:placeholder="${colaboradorid.nome}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="sobrenome"><strong>Sobrenome:</strong></label>
                            <input type="text" id="sobrenome" name="sobrenome"  th:placeholder="${infoAdicionais.sobrenome}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="email"><strong>User/Email:</strong></label>
                            <input type="email" id="email" name="email"  th:placeholder="${colaboradorid.usuario.email}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="senha"><strong>Senha:</strong></label>
                            <input type="senha" id="senha" name="senha"  th:placeholder="${colaboradorid.usuario.senha}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="telefone"><strong>Telefone:</strong></label>
                            <input type="text" id="telefone" name="telefone"  th:placeholder="${infoAdicionais.telefone}"
                                class="form-control" />
                        </div>
                    </div>
                    <hr />
                    <div th:if="${infoAdicionais != null}">
                        <div class="modal-info">
                            <div class="info-group">
                                <label for="cpf"><strong>CPF:</strong></label>
                                <input type="text" id="cpf" name="cpf"  th:placeholder="${infoAdicionais.cpf}"
                                    class="form-control" />
                            </div>
                            <div class="info-group">
                                <label for="rg"><strong>RG:</strong></label>
                                <input type="text" id="rg" name="rg"  th:placeholder="${infoAdicionais.rg}"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div th:if="${infoAdicionais == null}">
                        <p><em>Nenhuma informação adicional encontrada para este colaborador.</em></p>
                    </div>
                    <hr />
                    <div class="modal-info">
                        <div class="info-group">
                            <label for="regiao"><strong>Região:</strong></label>
                            <input type="text" id="regiao" name="regiao"  th:placeholder="${colaboradorid.regiao}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="logradouro"><strong>Logradouro:</strong></label>
                            <input type="text" id="logradouro" name="logradouro"  th:placeholder="${endereco.logradouro}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="estado"><strong>Estado:</strong></label>
                            <input type="text" id="estado" name="estado"  th:placeholder="${endereco.estado}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="bairro"><strong>Bairro:</strong></label>
                            <input type="text" id="bairro" name="bairro"  th:placeholder="${endereco.bairro}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="cidade"><strong>Cidade:</strong></label>
                            <input type="text" id="cidade" name="cidade"  th:placeholder="${endereco.cidade}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="rua"><strong>Rua:</strong></label>
                            <input type="text" id="rua" name="rua"  th:placeholder="${endereco.rua}" class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="numero"><strong>Número:</strong></label>
                            <input type="text" id="numero" name="numero"  th:placeholder="${endereco.numero}"
                                class="form-control" />
                        </div>
                        <div class="info-group">
                            <label for="cep"><strong>CEP:</strong></label>
                            <input type="text" id="cep" name="cep"  th:placeholder="${endereco.cep}" class="form-control" />
                        </div>
                    </div>
                    <div th:if="${endereco == null}">
                        <p><em>Nenhum endereço encontrado para este colaborador.</em></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 50px;">Salvar</button>
                
        </div>
        <div th:if="${colaboradorid == null}">
            <p><em>Colaborador não encontrado.</em></p>
        </div>
        </form>
    </div>
    </div>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/principal">DEMO</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" th:if="${isAuthenticated}">
            <i class="fas fa-user"></i> <span th:text="${userEmail}" style="color: white;"></span>

        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/profile">Settings</a></li>
                    <form th:action="@{/logout}" method="post">
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><button class="dropdown-item" type="submit">Sair</button></li>
                    </form>

                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/principal">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-simple"
                                    style="margin-right: 10px;"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-bars" style="margin-right: 10px;"></i>
                            </div>
                            Chamados
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/chamado"><i class="fa-solid fa-plus"
                                        style="margin-right: 10px;"></i>Novo chamado</a>
                                <a class="nav-link" href="/consultar"><i class="fa-solid fa-magnifying-glass"
                                        style="margin-right: 10px;"></i>Consultar chamado</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-user"
                                    style="margin-right: 10px;"></i></div>
                            Gerenciamento
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/criarColaboradores"><i class="fa-solid fa-address-card"
                                        style="margin-right: 10px;"></i>Novo Colaborador</a>
                                <a class="nav-link" href="/consultarColaborador"><i class="fa-solid fa-magnifying-glass"
                                        style="margin-right: 10px;"></i>Consultar Colaborador</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-pie"
                                    style="margin-right: 5px;"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list"
                                    style="margin-right: 5px;"></i></div>
                            Tables
                        </a>
                        <div th:if="${isAdmin}" class="sb-sidenav-menu-heading">Admistrador</div>
                        <a th:if="${isAdmin}" class="nav-link" href="tables.html">
                            <div th:if="${isAdmin}" class="sb-nav-link-icon"><i class="fa-solid fa-users"
                                    style="margin-right: 5px;"></i>
                            </div>
                            Gerenciamento user
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logado no:</div>
                    Sistema Demo
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content" style="background-color: #f8f9fa;">
            <main class="main-colaborador">
                <h1>informações inicias</h1>
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cargo</th>
                            <th>Idade</th>
                            <th>Região</th>
                            <th>Salário</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="colaborador : ${colaboradores}">
                            <a>
                                <td th:text="${colaborador.nome}">Nome do Colaborador</td>
                            </a>
                            <td th:text="${colaborador.cargo}">Cargo do Colaborador</td>
                            <td th:text="${colaborador.dataNascimento}" class="data-nascimento"></td>
                            <td th:text="${colaborador.regiao}">Região do Colaborador</td>
                            <td th:text="${colaborador.salario}">Salário do Colaborador</td>
                            <td>
                                <a
                                    th:href="${(#mvc.url('CCC#consultarPorIdColaborador').arg(0,colaborador.id)).build()}">consultar</a>
                                    <a th:href="${(#mvc.url('CCC#updateColaboradorPorId').arg(0,colaborador.id)).build()}">editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
            <main th:if="${isAdmin}">
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Davi Website 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="materialize/js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="materialize/assets/demo/chart-area-demo.js"></script>
    <script src="materialize/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="materialize/js/materialize.table.js"></script>


</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Seleciona o botão de fechar o modal
        const fecharModalBtn = document.getElementById('fecharModal');
        // Seleciona o modal
        const modal = document.getElementById('modal');
        // Seleciona o fade
        const fade = document.querySelector('.fade');

        // Adiciona um ouvinte de evento para o botão de fechar
        fecharModalBtn.addEventListener('click', function () {
            // Esconde o modal
            modal.style.display = 'none';
            // Esconde o fade
            fade.style.opacity = '0';
            fade.style.zIndex = '-1050';
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Mostra o fade
        const fade = document.querySelector('.fade');
        fade.style.opacity = '1';
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Função para calcular a idade com base na data de nascimento
        function calcularIdade(dataNascimento) {
            const hoje = new Date();
            const nascimento = new Date(dataNascimento);
            let idade = hoje.getFullYear() - nascimento.getFullYear();
            const mes = hoje.getMonth() - nascimento.getMonth();
            if (mes < 0 || (mes === 0 && hoje.getDate() < nascimento.getDate())) {
                idade--;
            }
            return idade;
        }

        // Seleciona todas as linhas da tabela
        const linhas = document.querySelectorAll("#dataTable tbody tr");

        // Itera sobre as linhas e calcula a idade
        linhas.forEach(linha => {
            const dataNascimentoElemento = linha.querySelector(".data-nascimento");
            const dataNascimento = dataNascimentoElemento.textContent.trim();

            if (dataNascimento) {
                const idade = calcularIdade(dataNascimento);
                dataNascimentoElemento.textContent = idade;
            }
        });
    });
</script>

</html>